fastapi
aiofiles
alembic
uvicorn
python-dotenv
pydantic
python-multipart
filetype
pypdf
chromadb
beautifulsoup4
chardet
docx2txt
langchain-chroma
langchain-community
langchain-huggingface
langchain-text-splitters
sentence-transformers
openai
sqlalchemy
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
pandas
openpyxl
psycopg2-binary
email-validator
